<div class="contain">
  <button class="previous" (click)="clickPrevious()"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></button>
  <owl-carousel [options]="options" [items]="images"
    [carouselClasses]="['owl-theme', 'sliding']" #owlElement>
    <div class="item" *ngFor="let image of images;let i = index">
      <div class="content">
        <img [src]="image.url">
        <div class="text">
          
        </div>
      </div>
    </div>
  </owl-carousel>
  <button class="next" (click)="clickNext()"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></button>
</div>