<div class="contain-page-head">
  <div class="content-page-head">
    <div class="row">
      <div class="col-xl-12 page-head">
        <div class="title">LIÊN HỆ</div>
        <ol class="d-flex">
          <li class="">
            <a href="Javascript:void(0)" [routerLink]="['/home']">TRANG CHỦ</a>
          </li>
          <li><i class="fa fa-caret-right px-2" aria-hidden="true"></i>LIÊN HỆ</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="contain">
  <div class="content">
    <div class="row">
      <div class="col-xl-6 my-5">
        <div class="box d-flex">
          <img src="assets/images/contact.png">
          <div class="info py-3 pr-3 pl-4">
            <div class="name">TRỤ SỞ CHÍNH</div>
            <ul>
              <li><div><i class="fa fa-map-marker mr-4"></i><div>Tầng 1, Thăng Long Building, Số 82-84 Thăng Long, Phường 4, Quận
                Tân Bình, Tp.Hồ Chí Minh</div></div></li>
              <li><a href="tel:8881234567"><i class="fa fa-phone mr-4"></i>(888)123-4567</a></li>
              <li><a href="mailto:info@example.com"><i class="fa fa-envelope mr-4"></i>info@example.com</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-6 my-5">
        <div class="box d-flex">
          <img src="assets/images/contact.png">
          <div class="info py-3 pr-3 pl-4">
            <div class="name">CHI NHÁNH</div>
            <ul>
              <li><div><i class="fa fa-map-marker mr-4"></i><div>Tầng 4 – Tòa nhà Ricco – Số 363 Nguyễn Hữu Thọ, Phường Khuê
                Trung, Quận Cẩm Lệ, Tp.Đà Nẵng</div></div></li>
              <li><a href="tel:8881234567"><i class="fa fa-phone mr-4"></i>(888)123-4567</a></li>
              <li><a href="mailto:info@example.com"><i class="fa fa-envelope mr-4"></i>info@example.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-xl-6 pr-0">
        <div class="box-info-contact">
          <h2>Liên Hệ Với Chúng Tôi</h2>
          <p>Quý khách vui lòng điền thông tin theo mẫu form dưới đây để liên hệ với chúng tôi:</p>
          <form [formGroup]="contactForm">
            <div class="d-flex my-4">
              <div class="w-50 mr-2">
                <input type="text" class="w-100 p-2" placeholder="NAME:" formControlName="name" tabindex="1">
                <div class="d-flex" *ngIf="formErrors.name">
                    <span class="error">{{formErrors.name}}</span>
                  </div>
              </div>
              <div class="w-50 ml-2">
                <input type="text" class="w-100 p-2" placeholder="E-MAIL:" formControlName="email" tabindex="2">
                <div class="d-flex" *ngIf="formErrors.email">
                    <span class="error">{{formErrors.email}}</span>
                  </div>
              </div>
            </div>
            <div class="my-4">
              <input type="text" class="w-100 p-2" placeholder="SUBJECT:" formControlName="subject" tabindex="3">
            </div>
            <div class="my-4">
              <textarea class="w-100 p-2" name="" id="" cols="30" rows="3" placeholder="MESSAGE:" formControlName="message" tabindex="4"></textarea>
              <div class="d-flex" *ngIf="formErrors.message">
                  <span class="error">{{formErrors.message}}</span>
                </div>
            </div>
            <div class="g-captcha">
              <re-captcha (resolved)="resolved($event)" #captchaRef="reCaptcha" class="my-4 mw-100" tabindex="5"></re-captcha>
            </div>
            
            <button [disabled]="captchaResponse ? false : true" class="my-4" (click)="submitForm()" tabindex="6">GỬI</button>
          </form>
          <div *ngIf="message && message.message !== ''">
                <div class="alert alert-dismissible fade show mb-0 py-2 px-5 mr-1 w-100 text-center"
                  [ngClass]="{'alert-danger': message && message.type == 'error', 'alert-success': message && message.type == 'success'}">{{message.message}}</div>
          </div>
        </div>

      </div>
      <div class="col-xl-6 pl-0 map">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" usePanning="true">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>