<nav class="sidebar">
    <ul class="list-group">
      <li>
        <a class=" list-group-item  item" [routerLinkActive]="['router-link-active']" [routerLink]="['/home']">Trang chủ</a>
      </li>
      <li>
        <a class="list-group-item  item" [routerLinkActive]="['router-link-active']" [routerLink]="['/prospect']">Giới thiệu</a>
      </li>
      <li>
        <a class="list-group-item  item" [routerLinkActive]="['router-link-active']" [routerLink]="['/customer']">Mô hình thành công</a>
      </li>
      <li>
        <a class="list-group-item  item" [routerLinkActive]="['router-link-active']" [routerLink]="['/customer']">Khách hàng</a>
      </li>
      <li>
        <a class="list-group-item  item" [routerLinkActive]="['router-link-active']" [routerLink]="['/opportunity']">Giải pháp quản lý BYS ERP</a>
      </li>
      <li>
        <a class="list-group-item  item" [routerLinkActive]="['router-link-active']" [routerLink]="['/campaign']">Tin tức</a>
      </li>
      <li>
        <a class="list-group-item  item" [routerLinkActive]="['router-link-active']" [routerLink]="['/activity']">Nghề Nghiệp</a>
      </li>
      <li>
          <a class="list-group-item  item" [routerLinkActive]="['router-link-active']" [routerLink]="['/contact']">Liên hệ</a>
      </li>
    </ul>
  </nav>