<div class="contain pb-5">
  <div class="content">
    <div class="title text-center text-uppercase p-4 pt-5">GIẢI PHÁP QUẢN LÝ TỔNG THỂ BYS ERP</div>
    <div class="underline mb-4"></div>
    <P>Được thừa hưởng nền tảng phát triển trên 30 năm của một giải pháp ERP từ Đức, đất nước được xem là cái nôi phát triển ERP trên thế giới. 
      Từ năm 2007, BYS đã tiến hành xây dựng và điều chỉnh lại giải pháp cho phù hợp với đặc thù quản lý doanh nghiệp Việt Nam, sau đó chính 
      cho ra đời giải pháp quản lý tổng thể doanh nghiệp BYS ERP vào năm 2010.
    </P>

    <div class="list-box pt-5 pb-4">
      <owl-carousel [options]="options" [items]="images"
      [carouselClasses]="['owl-theme', 'sliding']">
      <div class="item" *ngFor="let image of images;let i = index">
        <div class="content-item">
          <div class="image">
            <img class="" src="assets/images/bys.wood.png">
          </div>
          
          <div class="content-text p-4">
            <div class="name mb-4">BYS.WOOD</div>
            <p class="text">Giải pháp ERP quản lý chuyên sâu co ngành gỗ, nội thất</p>
            <a href="">XEM CHI TIẾT ></a>
          </div>
        </div>
      </div>
      </owl-carousel>
    </div>
  </div>
</div>